@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Montserrat&family=Playfair+Display&family=Rubik+Doodle+Shadow&display=swap');

header {
    padding-bottom: 1.5rem;
    background-color: #6e6d6de0;
    position: relative;
    padding-inline-start: 8px;
    padding-top: 0.2rem;
    z-index: 1;
    height: 75px;
}

header h1{
    color: white;
    font-family: Montserrat;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    padding-left: 2rem;
    font-size: 40px;
    padding-bottom: 1rem;
}

.neon {
    font-size: 40px;
    color: rgb(17, 0, 255);
    text-shadow: 0 0 2px rgb(17, 0, 255), 0 0 2px rgb(17, 0, 255), 0 0 15px rgb(17, 0, 255), 0 0 2px rgb(17, 0, 255);
    animation: neon-glow 4s ease-in-out infinite alternate;
}


button {
    justify-content: center;
}

body::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    opacity: 5;
    width: 100%;
    height: 100%;
    background: url("https://www.bhmpics.com/downloads/games-wallpaper/10.b_qbdpqgyzt4gaflsq8ye0t_lqdofvjkzinscfwk23pefy4okjocuvontdnqd16okiu.jpg");
    background-position: center;
    background-size: auto;
    
};


.neon {
    font-size: 40px;
    color: rgb(17, 0, 255);
    text-shadow: 0 0 2px rgb(17, 0, 255), 0 0 2px rgb(17, 0, 255), 0 0 15px rgb(17, 0, 255), 0 0 2px rgb(17, 0, 255);
    animation: neon-glow 4s ease-in-out infinite alternate;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.form-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .75);
    padding-top: 1rem;
}

.form-wrapper h2{
    color: #fff;
    font-size: 2rem;
}

.form-wrapper form{
    margin: 25px 0 65px;
}

form .form-control{
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}

.form-control input{
    height: 100%;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
    background: #444;
    padding: 16px 20px 0;
}

.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all .1s ease;
}

.button {
    position: sticky;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: white;
    transition: all .1s ease;
    width: 30.7rem;
    background-color: blue;
    cursor: pointer;
}

.form-help a {
    color: blue;
}

#now {
    color: blue;
}

.form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}


.form-wrapper a {
    text-decoration: none;
}

.form-wrapper a:hover {
    text-decoration: underline;
}

.form-wrapper :where(label, p, small, a){
    color: #b3b3b3;
}

form .form-help {
    display: flex;
    justify-content: space-between;
}

form .remember-me {
    display: flex;
}

form .remember-me input {
    margin-right: 5px;
    accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
    font-size: 0.9rem;
}


/*! RESPONSIVE DESIGN */

@media (max-width: 740px){
    body::before {
        display: none;
    }
    nav, .form-wrapper {
        padding: 20px;
    }
    nav a img {
        width: 140px;
    }
    .form-wrapper {
        width: 100%;
        top: 43%;
    }
    .form-wrapper form {
        margin: 25px 0 40px;
    }
}